.experts
    padding-top: 81px
    background-color: #121212
    padding-bottom: 59px
    &__wrapper
        display: flex
    &__img
        margin-right: 84px
        width: 289.89px
        height: 318.17px
        filter: drop-shadow(15.7123px 15.7123px 0px #C4FF79)

    &__text
        position: relative
    &__title
        font-family: 'Clash Display'
        font-style: normal
        font-weight: 600
        font-size: 31.4245px
        line-height: 140%
        color: #FFFFFF
        margin-bottom: 19px
        & span
            color: #B9FF66
    &__subtitle
        font-family: 'Urbanist'
        font-style: normal
        font-weight: 400
        font-size: 18.8547px
        line-height: 140%
        color: #868686
        margin-bottom: 43px
        width: 440.73px
    &__wrap
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__scrolls
        display: flex
        justify-content: flex-end
    &__name
        font-family: 'Urbanist'
        font-style: normal
        font-weight: 600
        font-size: 12.5698px
        line-height: 15px
        color: #FFFFFF
        margin-bottom: 7px
    &__whois

        font-family: 'Urbanist'
        font-style: normal
        font-weight: 500
        font-size: 12.5698px
        line-height: 15px
        color: #666666
    &__figures
        width: 12.57px
        height: 3.14px
        margin-right: 6px
        background: #262626
    &__active
        width: 31.42px
        height: 3.14px
        margin-right: 6px
        background: #B9FF66
        // position: absolute
